* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  text-align: center;
}
.container {
  max-width: 1200px;
  height: 100vh;
  background: #1201af;
  background: -webkit-linear-gradient(top left, #1201af, #d335eb);
  background: -moz-linear-gradient(top left, #1201af, #d335eb);
  background: linear-gradient(to bottom right, #1201af, #d335eb);
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
}

.searchBar {
  position: relative;
  top: 10px;
  width: 98%;
  min-height: 43px;
  margin: 20px auto;
  background-color: honeydew;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.input {
  margin-left: 10px;
  width: 500px;
  height: 1.6rem;
}

.btn {
  height: 2rem;
  border-radius: 9px;
  background-color: rgb(207, 74, 74);
  color: antiquewhite;
  border: none;
  margin-left: 10px;
}

.btn:hover {
  transform: translateY(-3.5px);
}

.vremeaAcum,
.vremeaPrognoza {
  width: 98%;
  height: 43%;
  margin: 20px auto;
  background-color: honeydew;
  border-radius: 12px;
}

.vremeaAcumContainer {
  display: flex;
  flex-direction: row;
  height: 85%;
  padding: 5px;
}

.subTitluri {
  display: inline-block;
  margin: 5px 10px;
}

hr {
  max-width: 98%;
  margin: 0;
  position: relative;
  left: 9px;
}

.cityMap {
  position: relative;
  left: 52px;
  top: 13px;
  width: 440px;
  /* background-color: aqua; */
  height: 90%;
}
