@mixin flexBox {
  display: flex;
  justify-content: space-around;
}

//////////////////////////////////
// Phone version
//////////////////////////////////

@media (max-width: 655px) {
  header {
    display: flex;

    .burgerMenu {
      width: 50px;
      margin: 5px;
    }
    [alt="LOGO - MOYO"] {
      height: auto;
      max-width: 150px;
      margin-left: 1px;
      position: absolute;
      top: 2px;
      right: -141px;
    }

    .mobilePositioner {
      position: absolute;
      top: 87px;
      left: 19px;
      // z-index: 3;
    }
    nav.hidden {
      display: none;
    }

    nav {
      display: flex;
      flex-direction: column;

      .navBtn {
        padding: 14px 84px;
        margin: 2px;
        font-size: 27px;
        font-weight: 600;
        border: 2px solid black;
        box-shadow: 0px 0px 5px #888888;

        &:hover {
          background-color: azure;
          border: 2px solid $blue-color;
        }
      }
    }
  }
}

//////////////////////////////////
// Tablet and laptop
//////////////////////////////////
@media (min-width: 655px) {
  header {
    .burgerMenu {
      display: none;
    }
    [alt="LOGO - MOYO"] {
      height: auto;
      max-width: 150px;
      margin-left: 1px;
      position: relative;
      top: 9px;
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    nav {
      @include flexBox();
      justify-content: flex-end;
      margin-top: 20px;
      margin-right: 10px;
      .navBtn {
        font-size: 16px;
        font-weight: 600;
        padding: 8px;
        margin: 2px;
        border: 2px solid black;
        box-shadow: 0px 0px 5px #888888;
        &:hover {
          background-color: azure;
          border: 2px solid $blue-color;
        }
      }
    }
  }
}
