//////////////////////////////////
// Phone version
//////////////////////////////////

@media (max-width: 655px) {
  // How to page
  main {
    // max-height: fit-content;
    max-width: 100%;
    padding: 10px;
    .stepContainer {
      max-width: 80%;
      height: 45px;
      margin: 13px;
      padding: 10px;
      border-radius: 5px;
      border: 1px $blue-color solid;
      box-shadow: 0px 0px 5px #888888;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .slogan {
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative;
      bottom: -102px;
    }
    // Set goals page
    .goalsTable {
      margin-bottom: 10px;
      min-width: 80%;
      max-width: 90vw;
    }
    td {
      text-align: center;
      padding: 0 10px;
      height: 50px;
      border: 1px solid #999;
    }

    .editGoalBtn:active {
      background-color: $green-color;
    }
    .deleteGoalBtn:active {
      background-color: $red-color;
    }

    .addNewGoalInput {
      min-width: 80%;
      max-width: 90vw;
      font-size: large;
    }

    .addNewGoalBtn {
      position: relative;
      top: 5px;
      height: auto;
      width: 26px;
    }

    .addNewGoalBtn:active {
      transform: scale(2);
    }

    #confirmBtnEdit,
    #cancelBtnEdit {
      margin-top: 5px;
      padding: 6px;
      &:active {
        background-color: $blue-color;
      }
    }

    .hiddenEdit {
      display: none;
    }

    // Add activity page
    .addActivityForm {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      .activityDescription {
        min-width: 90%;
        height: 34px;
        font-size: 23px;
      }

      #goalsList {
        min-width: 90%;
        height: 34px;
        font-size: 23px;
      }

      #startTime {
        height: 34px;
        font-size: 20px;
      }

      #endTime {
        height: 34px;
        font-size: 20px;
      }
      label {
        padding: 5px;
      }

      [value='Add activity'] {
        background-color: $blue-color;
        margin-top: 5px;
        padding: 5px;
        border: 2px solid black;
        font-weight: bolder;
        &:active {
          transform: scale(1.5);
        }
      }

      #addActivityBtn2 {
        background-color: $green-color;
        margin-top: 5px;
        padding: 5px;
        border: 2px solid black;
        font-weight: bolder;
        &:active {
          transform: scale(1.5);
        }
      }
    }
    .categoriesContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 4px;

      .prodBox {
        background-color: $green-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
      .maintainanceBox {
        background-color: $yellow-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
      .relaxationBox {
        background-color: $blue-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
      .distractionBox {
        background-color: $red-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
    }

    // Week view page

    #calendar {
      z-index: -1;
    }

    .fc .fc-toolbar.fc-header-toolbar {
      margin-bottom: 1.5em;
      /* max-width: 102%; */
      display: flex;
      flex-wrap: wrap;
    }

    .weekViewBtn {
      background-color: #0ea8f3;
      border-radius: 5px;
      padding: 3px 19px;
      margin: 2px;
      font-size: 27px;
      font-weight: 600;
      border: 2px solid transparent;
      box-shadow: 0px 0px 5px #888888;
      &:hover {
        background-color: azure;
        border: 2px solid black;
      }
    }
    // Statistics page
  }
}

//////////////////////////////////
// Tablet and laptop
//////////////////////////////////
@media (min-width: 655px) {
  main {
    // How to page

    max-width: 100%;
    padding: 10px;

    .stepContainer {
      max-width: 100%;
      height: 35px;
      margin: 13px;
      padding: 10px;
      border-radius: 5px;
      border: 1px $blue-color solid;
      box-shadow: 0px 0px 5px #888888;
      display: flex;
      align-items: center;
    }

    .mainText {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }

    .stepsIcons {
      margin-left: 10px;
    }

    .slogan {
      margin: 0;
      padding: 0;
      position: relative;
      bottom: -28px;
      left: auto;
      right: auto;
    }

    // Set goals page

    .goalsTable {
      margin-bottom: 10px;
      min-width: 80%;
      max-width: 90vw;
    }
    td {
      text-align: center;
      padding: 0 10px;
      height: 50px;
      border: 1px solid #999;
    }

    .editGoalBtn:active {
      background-color: $green-color;
    }

    .deleteGoalBtn:active {
      background-color: $red-color;
    }

    .addNewGoalInput {
      min-width: 80%;
      max-width: 90vw;
      font-size: large;
    }

    .addNewGoalBtn {
      position: relative;
      top: 5px;
      height: auto;
      width: 26px;
    }

    .addNewGoalBtn:active {
      transform: scale(2);
    }
    .exampleGridContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;
    }

    #confirmBtnEdit,
    #cancelBtnEdit {
      margin-top: 5px;
      padding: 6px;
      &:active {
        background-color: $blue-color;
      }
    }

    .hiddenEdit {
      display: none;
    }

    // Add activity page

    .addActivityForm {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      .activityDescription {
        min-width: 60%;
        height: 34px;
        font-size: 23px;
      }

      #goalsList {
        min-width: 60%;
        height: 34px;
        font-size: 23px;
      }

      #startTime {
        height: 34px;
        font-size: 20px;
      }

      #endTime {
        height: 34px;
        font-size: 20px;
      }

      label {
        padding: 5px;
      }

      [value='Add activity'] {
        background-color: $blue-color;
        margin-top: 5px;
        padding: 5px;
        border: 2px solid black;
        font-weight: bolder;
        &:active {
          transform: scale(1.5);
        }
      }

      #addActivityBtn2 {
        background-color: $green-color;
        margin-top: 5px;
        padding: 5px;
        border: 2px solid black;
        font-weight: bolder;
        &:active {
          transform: scale(1.5);
        }
      }
    }

    .categoriesContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4px;

      .prodBox {
        background-color: $green-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
      .maintainanceBox {
        background-color: $yellow-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
      .relaxationBox {
        background-color: $blue-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
      .distractionBox {
        background-color: $red-color;
        border-radius: 5px;
        color: black;
        text-align: center;
        padding: 3px;
      }
    }
    // Week view page

    .weekViewBtn {
      background-color: $blue-color;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      padding: 7px;
      margin: 2px;
      border: 2px solid transparent;
      box-shadow: 0px 0px 5px #888888;
      &:hover {
        background-color: azure;
        border: 2px solid black;
      }
    }
    // Statistics page
  }
}
